@model  PagedList.IPagedList<ProbabilitiesWebCalculator.Models.ProbabilityCalculator>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div>

    <button id="btnDisplayForm" type="button" class="btn btn-Link"> Hide History Records</button>

    <div id="DisplayHistory">
        <div class="pagination">

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page}))
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        </div>
        <table id="historyTable" class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Count</th>
                    <th> @Html.ActionLink("CreatedAt", "Index", new { sortOrder = ViewBag.DateSortParm })</th>
                    <th>P(A)</th>
                    <th>P(B)</th>
                    <th> @Html.ActionLink("Mode", "Index", new { sortOrder = ViewBag.ModeSortParm })</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr style="border:1px solid red">
                        <td>@((Model.PageNumber-1)*Model.PageSize + i+1)</td>
                        <td>@Model[i].CreatedAt</td>
                        <td>@Model[i].ProbabilityA</td>
                        <td>@Model[i].ProbabilityB</td>
                        <td>@Model[i].Mode</td>
                        <td>@Model[i].Result</td>
                    </tr>



                }
            </tbody>
        </table>
    </div>

</div>

